<footer class="footer">
    <div class="container">
        <div class="social-links">
            <a href="https://github.com/MrKennyLF" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
            
            <a href="mailto:luisfer_minitoy@hotmail.com" aria-label="Correo" class="email-link">
                <i class="fas fa-envelope"></i>
                <span>luisfer_minitoy@hotmail.com</span>
            </a>
        </div>
        <p>&copy; 2025 Kenny. Todos los derechos reservados.</p>
    </div>
</footer>