.container {
  text-align: center;
  margin-top: 50px;

  h1 {
    color: #1976d2;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    color: #555;
  }

  hr {
    margin: 20px 0;
  }
}